<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<style>
    input{
        margin: 10px;
        padding: 10px;
        border: green;
        border-radius: 5px;
    }
    button{
        margin: 10px;
        padding: 10px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
    }
    button:hover{
        cursor: pointer;
        background-color: red;
    }
</style>
<body>
    <h1>Hello</h1>
    <p>Hello Body</p>
    <form action="/" method="post">
        <input type="text" name="username" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>